body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 50px;
}

/* HEADER */

.header-bg {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 700px;
    opacity: 0.9;
}

.header-div1 {
    text-align: center;
    color: white;
}

#header-h1-tag {
    padding: 200px 300px 0px 300px;
    margin: 0px;
}

#header-p-tag {
    padding: 0px 400px 0px 400px;
}

#header-button {
    padding: 70px 0 0 600px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, red);
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.margin-setting {
    margin: 10px 100px;
}

.flexible-display {
    display: flex;
}



/* FIRST SECTION SETTING */

.first-section {
    margin: 100px 300px;
}

.amount-div {
    background-color: rgb(240, 228, 228);
    width: 20%;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
}

#exceptional-amount-div {
    background-color: rgb(230, 179, 179);
    width: 20%;
    height: 100px;
    margin: 10px;
    border: 2px solid red;
    border-radius: 5px;
}

#first-section-h1 {
    font-size: 40px;
    text-align: center;
}

#first-section-p {
    text-align: center;
    padding: 0 40px;
    color: rgb(94, 94, 94);
}

.amount-div-h1 {
    font-size: 30px;
    color: rgb(68, 68, 68);
    text-align: center;
    padding-top: 8px;
}

#exceptional-amount-div-h1 {
    font-size: 30px;
    color: rgb(255, 0, 0);
    text-align: center;
    padding-top: 8px;
}

.amount-input {
    height: 40px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #DADADA;
}

#first-section-input {
    padding: 10px;
}

#first-section-button {
    padding: 20px 0 0 295px;
}

/* SECOND SECTION SETTING */

#second-section-h1 {
    font-size: 40px;
    text-align: center;
}

#second-section-p {
    text-align: center;
    padding: 0 40px 20px;
    color: rgb(94, 94, 94);
}

.second-section {
    margin: 100px 200px;
}

.second-section-div {
    width: 33.33%;
    height: 200px;
    margin: 10px;
    padding: 50px 15px;
    border-radius: 5px;
}

.second-section-p2 {
    color: rgb(94, 94, 94);
}

#bg-color-food {
    background-color: antiquewhite;
}

#bg-color-shelter {
    background-color: aquamarine;
}

#bg-color-education {
    background-color: rgb(209, 200, 216);
}

/* THIRD SECTION SETTING */

.third-section {
    margin: 100px 200px;
}

.third-section-div {
    width: 50%;
    height: 200px;
    margin: 10px;
    padding: 10px 10px 0 0;
}

#third-section-text {
    padding: 40px 0;
}

.third-section-img {
    width: 100%;
    border-radius: 5px;
}

.third-section-div-margin {
    margin: 100px 0;
}

.third-section-p {
    color: rgb(94, 94, 94);
    padding-bottom: 15px;
}

/* FORTH SECTION SETTING */

.forth-section {
    margin: 100px 300px;
}

#forth-section-h1 {
    font-size: 40px;
    text-align: center;
}

#forth-section-p {
    color: rgb(94, 94, 94);
    padding: 0 0 30px 0;
}

.forth-section-input-bg {
    background-color: bisque;
    width: 100%;
    height: 190px;
}

.forth-section-input-position {
    display: flex;
    padding: 65px 200px;
}

.forth-section-input-position a {
    text-align: center;
}

#forth-section-input-box {
    padding: 10px 30px;
    height: 36px;
    width: 170px;
    border: 0;
    border-radius: 5px 0 0 5px;
    background-color: rgb(192, 189, 189);
}

#forth-section-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, red);
    padding: 16px 30px;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 0 5px 5px 0;
}

/* FOOTER */

footer {
    background-color: black;
    height: 150px;
    color: white;
}

.text-align-center {
    padding-top: 10px;
    text-align: center;
}

#footer-h1 {
    font-family: 'Playball', cursive;
    font-size: 30px;
    color: brown;
}